body{
    margin: 0;
    padding: 0;
    background: url(img/fondo2.jpg);  
    background-size: cover;
}

.barra{
    
    margin-top: -25px;
    width:2000px;
    height:50px;
    background-color:rgb(11, 255, 121);
}


.main {
    width: 99%;
    text-align: center;
}

.foto1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foto {
    margin: 10px 20px;
    
    width: 50px;
    height: auto;
}

.foto {
    
    margin: 10px 160px;
    opacity: .8;
    transition: .9;
    width: 500px;
    height: auto;
}

/**Movil**/

@media (min-width: 400px) and (max-width: 767px) {
    
    .centered {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
}


/**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
    .centered {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .desktop {
        display: none;
    }
    .movil {
        display: none;
    }
}


/**Escritorio**/

@media (min-width: 991px) {
    .centered {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .tablet {
        display: none;
    }
    .movil {
        display: none;
    }
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    
}.menu{
    list-style:none;
    padding: 0;
    background:chartreuse; ;
    width:100%;
    max-width: 1800px;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: rgb(3, 21, 24);
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: #ef8354; ;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }