body{
    margin: 0;
    padding: 0;
    background: url(img/fondo2.jpg);  
    background-size: cover;
}

.menu{
    list-style:none;
    padding: 0;
    background:chartreuse; ;
    width:100%;
    max-width: 1900px;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: rgb(3, 21, 24);
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: #ef8354; ;

}


.main {
    width: 99%;
    text-align: center;
}




  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .main {
      flex: 50%;
      max-width: 100%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .main {
      flex: 100%;
      max-width: 100%;
    }
  }