{% extends 'app/base.html' %}

{% block contenido %}

{% load static %}
<div style="color: rgb(0, 0, 0);" class="jumbotron  text-center">
    <h1 class="flex">Plantitas</h1>
    <p>Venta de plantas y productos de jardin</p>
</div>
<div class="row">
    <div class="column">
        <img src="{% static 'app/img/cinco.jpg.jpg' %}">
        <img src="{% static 'app/img/diez.jpg.jpg' %}">
        <img src="{% static 'app/img/nueve.jpg.jpg' %}">
        <img src="{% static 'app/img/dos.jpg.jpg' %}">
        <img src="{% static 'app/img/nueve.jpg.jpg' %}">

    </div>
    <div class="column">
        <img src="{% static 'app/img/uno.jpg.jpg' %}">
        <img src="{% static 'app/img/nueve.jpg.jpg' %}">
        <img src="{% static 'app/img/tres.jpg.jpg' %}">
        <img src="{% static 'app/img/siete.jpg.jpg' %}">
        <img src="{% static 'app/img/cuatro.jpg.jpg' %}">

    </div>
    <div class="column">
        <img src="{% static 'app/img/seis.jpg.jpg' %}">
        <img src="{% static 'app/img/dos.jpg.jpg' %}">
        <img src="{% static 'app/img/nueve.jpg.jpg' %}">
        <img src="{% static 'app/img/seis.jpg.jpg' %}">
        <img src="{% static 'app/img/uno.jpg.jpg' %}">

    </div>
    <div class="column">
        <img src="{% static 'app/img/dos.jpg.jpg' %}">
        <img src="{% static 'app/img/diez.jpg.jpg' %}">
        <img src="{% static 'app/img/seis.jpg.jpg' %}">
        <img src="{% static 'app/img/tres.jpg.jpg' %}">



    </div>
</div>





{% endblock %}